/frontend/node_modules/
/frontend/.idea/

/backend/ihlp/notebooks/data
/backend/ihlp/notebooks/data/models
/backend/ihlp/notebooks/database
/backend/ihlp/notebooks/evaluate

/backend/saved/pipeline/data/input
/backend/saved/pipeline/data/output

/backend/saved/pipeline/models/notebooks/cache
/backend/saved/pipeline/models/notebooks/data
/backend/saved/pipeline/models/notebooks/logs
/backend/saved/pipeline/models/notebooks/models
/backend/saved/pipeline/models/notebooks/predict
/backend/saved/pipeline/models/notebooks/weights

/backend/saved/pipeline/models/cache
/backend/saved/pipeline/models/logs
/backend/saved/pipeline/models/data

/backend/db.sqlite3
/backend/predict/data
/backend/venv

