/frontend/node_modules/
/frontend/.idea/

/backend/notebooks/data
/backend/notebooks/evaluate

/backend/pipeline/data/input
/backend/pipeline/data/output

/backend/pipeline/models/notebooks/cache
/backend/pipeline/models/notebooks/data
/backend/pipeline/models/notebooks/logs
/backend/pipeline/models/notebooks/models
/backend/pipeline/models/notebooks/predict
/backend/pipeline/models/notebooks/weights

/backend/predict

